* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #222;
}

.preloader {
    position: fixed;
    top: 0;
    color: #FFF;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    background-color: #222;
}

.load-text {
    color: #333333;
    font-size: 102px;
    font-weight: 900;
    background-image: linear-gradient(#333 50%, #CC2E5D 50%, #FF5858);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: loader 10s linear infinite;
    margin-bottom: 50px;
}

.bar {
    display: block;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to right, #333 50%, #CC2E5D 50%, #FF5858);
    background-size: 200% 200%;
    animation: loader 10s linear infinite;
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
}

@keyframes loader {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: -100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

section {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.loading {
    opacity: 0;
    pointer-events: none;
}

.container {
    position: relative;
    width: 30vw;
    height: 80vh;
}

.img-container-before, .img-container-after {
    position: absolute;
    width: 30vw;
    height: 80vh;
}

.img-container-before {
    width: 15vw;
    overflow: hidden;
}

img {
    width: 30vw;
    height: 80vh;
    object-fit: cover;
}

.slider {
    width: 0.2rem;
    background: white;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    pointer-events: none;
}